@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    font-family: 'Poppins', sans-serif;
}

/*body {
    min-height: 100vh;
}*/

h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
}

.header {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 40px;
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.log_entry {
    /* border-bottom: 0.5px solid grey; */
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-content: center;
    max-width: 480px;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.30);
}


.log_entry > div {
    /*background: #eee;*/
    padding: 1em;
}

/*.log_entry > div:nth-child(odd) {
    background: #ddd;
}*/

.time {
    background: black;
    color: white;
}

.timestamp {
    display: none;
}

.blog_date {
    display: none;
    /*background: black;
    color: white;*/
}

.log_entry > div > img {
    width: 100%;
    height: auto;
}

/*.container#blur.blur {*/
.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.popup_icon {
    width: 50px;
    height: 50px;
}